#global#gameStatus{
	font-weight: bold;
	height: 20px;
}

#score{
	margin-left: 40%;
}

p{
	height: 20px;
} 
 
canvas{
	border: 1px solid black;
	background-color: #F2F0D6
	float: left;
}

body{
	overflow: hidden;
}


#tabscore{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width: 30%;
 border-collapse: collapse;
}
tr{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width: 50%;
 border-collapse: collapse;
}

td{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width: 50%;
 text-align: center;
 border-collapse: collapse;
}
th{
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width: 50%;
 text-align: center;
 border-collapse: collapse;
}

tr.pair td.pair{
	background-color: #EEEEEE;
}

tr.impair td.pair{
	background-color: #CCCCCC;
}

tr.pair td.impair{
	background-color: #EEEEFF;
}

tr.impair td.impair{
	background-color: #CCCCCC;
}
